<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  import * as firebase from "firebase/app";

// Add the Firebase services that you want to use
import "firebase/auth";
import "firebase/firestore";
  var firebase = require("firebase/app");

// Add the Firebase products that you want to use
require("firebase/auth");
require("firebase/firestore");
// Firebase App (the core Firebase SDK) is always required and
// must be listed before other Firebase SDKs

  var firebaseConfig = {
    apiKey: "AIzaSyDkukP6UjX5I_gcP2C0tSEQPiyimRwg6No",
authDomain: "recruitment-portal-732b0.firebaseapp.com",
databaseURL: "https://recruitment-portal-732b0.firebaseio.com",
projectId: "recruitment-portal-732b0",
storageBucket: "recruitment-portal-732b0.appspot.com",
messagingSenderId: "820044196096",
appId: "1:820044196096:web:8d4c20172d144a6c186be5",
measurementId: "G-2Z03HD317P"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig); 
  import { AngularFirestore } from '@angular/fire/firestore';
  import { AngularFirestore } from '@angular/fire/auth';
  firebase.analytics();
  const auth  = firebase.auth();
  const db = firebase.firestore();
  db.settings({timestampsInSnapshots : true});
  const signupForm = document.querySelector('#google');
  signupForm.addEventListener('click', gsi = () =>
  {
      base_provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth.signInWithPopup(base_provider).then(function(result)
      {
          console.log(result)
          console.log('Success')
      }).catch(function(err)
      {
          console.log(err)
          console.log ('fail')
      })

      
  } )
  
 
</script>

<script >








</script>
<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <link rel="stylesheet"  href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://accounts.scdn.co/css/index.48778854b2fbc42ce2ee.css" media="screen" rel="stylesheet">
    </head>
    <body>
        <div class="Login">
            <div class="w3-center w3-black">
                <img src="assets/1.PNG" style="max-height:150px; align:middle;">
            </div>
            <br>
            <h4 class="w3-center"><b>To Continue </b></h4>
            <p></p>
            <hr> 
            <p></p>
            <div class="w3-container w3-center">
                <button  class="btn btn-block btn-facebook facebook"  style="font-size:14px; text-align: center;  background-color: #3b5998; color:#fff; " >
                     Sign Up with Facebook   
                </button>
                <br>
                <button  id="google" class="btn btn-block btn-google" style="font-size:14px;background-color:#000;color:#fff">Sign Up with Google</button>

            </div>
            <div class="col-xs-12 row ">
                <div class="divider" style="margin:7px 239px; padding:14px 14px 18px">
                    <!-- ngIf: showOrLabel -->
                </div>
            </div>		
            
            <br>
            <div class=" text-center mt-0">
                <div class="h4 ng-binding">Already have an account?</div>


            </div>
            <div class="w3-container w3-center">
              
                <button routerLink='/signup' type="submit" class="btn btn-block btn-signup " style="font-size: 14px;"   name="signup" value="signup">Log In</button>
                      
            </div>
        </div> 
        <!--footer-->
<footer id="contact" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">
  
      <!-- Row -->
      <div class="row">
  
        <div class="section-header text-center">
          <h2 class="title" style="color:white ; font-size: 235%;margin: center; display: block;">Contact us</h2>
        </div>
      
        <div class="col-md-12">
  
          <!-- footer logo -->
          <div class="footer-logo">
            <a href="#"><img src="/assets/era.png" alt="logo" style="margin:auto; display: block;"></a>
          </div>
          <!-- /footer logo -->
          <!-- footer follow -->
          <ul class="footer-follow" style="font-size: 48px;display: block;margin:auto">
            <li><a href="https://www.facebook.com/eraiitkanpur/" target="_blank" wrc_done="true"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.github.com/ERA-IITK" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="mailto:eraiitk@gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.linkedin.com/company/era-iitk/" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCaaEga5jSCEN6ph6w9E9TVQ" wrc_done="true"><i class="fa fa-youtube" target="_blank"></i></a></li>
          </ul>
          <!-- /footer follow -->
  
        </div>
  
      </div>
      <!-- /Row -->
  
    </div>
    <!-- /Container -->
  
  </footer>
      
     
    </body>
    </html>


